body {
    background-color: rgb(231, 116, 108);
    font-family: Arial;
    font-size: 20px;
}

h1 {
    font-size: 40px;
}

.first {
    color: white;
}

#your-name {
    background-color: rgb(173, 102, 239);
    border: 5px solid #444;
}